---
import slugify from "slugify";

const response = await fetch("http://localhost:5000/", {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: `
      query Query {
        posts {
          id
          user {
            id
          }
          body
          title
        }
      }
    `,
  }),
});
const json = await response.json();
const { posts } = json.data;

---
<div>
  {
    posts.map((post) => (
      <p>{post.id}</p>
      <p>{post.user.id}</p>
      <p>{post.body}</p>
      <a href={`/posts/${slugify(post.title)}`}>{post.title}</a>
    ))
  }
</div>