---
import slugify from "slugify";

import BaseLayout from "../../layouts/BaseLayout.astro";

const pageTitle = "Photo";

export async function getStaticPaths() {
  const response = await fetch("http://localhost:5000/", {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
      query: `
      query Query {
        photos {
          id
          album {
            id
          }
          thumbnailUrl
          title
          url
        }
      }
    `,
    }),
  });

  const json = await response.json();
  const { photos } = json.data;

  return photos.map((photo) => {
    const { title } = photo;
    return {
      params: { slug: slugify(title) },
      props: { photo },
    };
  });
}
const { slug } = Astro.params;
const { photo } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
  <p>{slug}</p>
  <p>{photo.id}</p>
  <p>{photo.album.id}</p>
  <p>{photo.thumbnailUrl}</p>
  <p>{photo.title}</p>
  <p>{photo.url}</p>
</BaseLayout>
