---
import slugify from "slugify";

export async function getStaticPaths() {
  const response = await fetch("http://localhost:5000/", {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
      query: `
      query Query {
        albums {
          id
          title
        }
      }
    `,
    }),
  });

  const json = await response.json();
  const { albums } = json.data;

  return albums.map((album) => {
    const { title } = album;
    return {
      params: { slug: slugify(title) },
      props: { album },
    };
  });
}
const { slug } = Astro.params;
const { album } = Astro.props;

const getphotosByAlbumId = async (id) => {
  const response = await fetch("http://localhost:5000/", {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
      query: `
      query Query{
        photosByAlbumId(albumId: ${id}) {
          url
          title
          id
        }
      }
    `,
    }),
  });

  const json = await response.json();
  return json.data;
};

const { photosByAlbumId } = await getphotosByAlbumId(album.id);
---

<div>
  <p>{slug}</p>
  {
    photosByAlbumId.map((photo) => (
      <>
        <p>{photo.name}</p>
        <p>{photo.title}</p>
        <p>{photo.url}</p>
      </>
    ))
  }
</div>
