---
import slugify from "slugify";

import BaseLayout from "../../../layouts/BaseLayout.astro";

const pageTitle = "Post comment";

export async function getStaticPaths() {
  const response = await fetch("http://localhost:5000/", {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
      query: `
      query Query {
        posts {
          id
          body
          title
        }
      }
    `,
    }),
  });

  const json = await response.json();
  const { posts } = json.data;

  return posts.map((post) => {
    const { title } = post;
    return {
      params: { slug: slugify(title) },
      props: { post },
    };
  });
}
const { slug } = Astro.params;
const { post } = Astro.props;

const getCommentsByPostId = async (id) => {
  const response = await fetch("http://localhost:5000/", {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
      query: `
      query Query{
        commentsByPostId(postId: ${id}) {
          body
          name
          id
        }
      }
    `,
    }),
  });

  const json = await response.json();
  return json.data;
};

const { commentsByPostId } = await getCommentsByPostId(post.id);
---

<BaseLayout pageTitle={pageTitle}>
  <p>{slug}</p>
  {
    commentsByPostId.map((comment) => (
      <>
        <p>{comment.name}</p>
        <p>{comment.body}</p>
      </>
    ))
  }
</BaseLayout>
